.booth{
	width:400px;
	background:#bbb;
	border:10px solid #ddd;
	margin:0 auto;
}

body {
    background-image: url("background.jpg");
}
img {
    float:left;
}
h1 {
    float:left;
    font-family: "Arial", Georgia, Serif;
    color: white;
}